html,
body {
  height: 100%;
  background-color: #191414;
  color: white;
}
.button-class {
  display: inline-block;
  border: none;
  color: #fff;
  border-radius: 26px 26px 26px 26px;
  -webkit-border-radius: 26px 26px 26px 26px;
  -moz-border-radius: 26px 26px 26px 26px;
  font-family: Verdana;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  font-size: 16px;
  padding: 10px 50px;
  background-color: #1da34c;
  transition: 0.3s;
}
.button-class:hover,
.button-class:active {
  border: none;
  color: #fff;
  background-color: #1ec95a;
}
.grow {
  transition: 0.3s;
}
.grow:hover {
  transform: scale(1.02);
}

.button-class a {
  color: white;
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.nav-item.dropdown:hover {
  cursor: pointer;
}

.navbar i {
  font-size: 2rem;
  color: #1ec95a;
  vertical-align: middle;
  margin-right: 1rem;
}
